{
  "openapi": "3.0.0",
  "info": {
    "description": "A public and stable API for interacting with axiom services",
    "title": "Axiom",
    "termsOfService": "http://axiom.co/terms",
    "contact": {
      "name": "Axiom support team",
      "url": "https://axiom.co",
      "email": "hello@axiom.co"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.axiom.co/v2/"
    }
  ],
  "paths": {
    "/annotations": {
      "get": {
        "description": "Lists annotations in the organization. Filter by `datasets`, or by a time range with both `start` and `end` at most 100 days apart. Without filters, returns all annotations.",
        "tags": [
          "annotations"
        ],
        "operationId": "getAnnotations",
        "parameters": [
          {
            "description": "Optional: Filter for dataset names.",
            "name": "datasets",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Optional: Filter for events after this date. Use RFC3339 time format.",
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional: Filter for events before this date. Use RFC3339 time format.",
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid `start` or `end`, only one of them set, `end` before `start`, or a range longer than 100 days."
          }
        },
        "security": [
          {
            "Auth": [
              "annotations|read"
            ]
          }
        ]
      },
      "post": {
        "description": "Creates an annotation on one or more existing datasets. If you omit `time`, Axiom uses the time of the request. `time` can't be in the future.",
        "tags": [
          "annotations"
        ],
        "operationId": "createAnnotation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAnnotation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created annotation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid annotation, for example an unknown dataset, a `time` in the future, or an `endTime` before `time`."
          }
        },
        "security": [
          {
            "Auth": [
              "annotations|create"
            ]
          }
        ]
      }
    },
    "/annotations/{id}": {
      "get": {
        "description": "Retrieves an annotation by its ID.",
        "tags": [
          "annotations"
        ],
        "operationId": "getAnnotation",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid annotation ID."
          },
          "404": {
            "description": "Annotation not found."
          }
        },
        "security": [
          {
            "Auth": [
              "annotations|read"
            ]
          }
        ]
      },
      "put": {
        "description": "Updates an annotation. Only the fields you include change. Omitted or empty fields keep their current values, so you can't clear a field.",
        "tags": [
          "annotations"
        ],
        "operationId": "updateAnnotation",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatedAnnotation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated annotation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid annotation ID or the updated annotation is invalid."
          },
          "404": {
            "description": "Annotation not found."
          }
        },
        "security": [
          {
            "Auth": [
              "annotations|update"
            ]
          }
        ]
      },
      "delete": {
        "description": "Deletes an annotation by its ID.",
        "tags": [
          "annotations"
        ],
        "operationId": "deleteAnnotation",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Annotation deleted."
          },
          "400": {
            "description": "Invalid annotation ID."
          },
          "404": {
            "description": "Annotation not found."
          }
        },
        "security": [
          {
            "Auth": [
              "annotations|delete"
            ]
          }
        ]
      }
    },
    "/datasets": {
      "get": {
        "description": "Lists the datasets you can read, including datasets shared with your organization, sorted by name. Returns all matching datasets in one response without pagination.",
        "tags": [
          "Datasets"
        ],
        "summary": "Get list of datasets",
        "operationId": "getDatasets",
        "parameters": [
          {
            "description": "Exclude resolved label objects from each dataset response. The labelIds field is still returned.",
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "labels"
              ]
            }
          },
          {
            "description": "Return datasets assigned every specified label ID.",
            "name": "labelIds",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 500,
              "uniqueItems": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datasets you can read.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dataset"
                  },
                  "example": [
                    {
                      "created": "2020-01-01T00:00:00Z",
                      "description": "This is an example dataset",
                      "id": "example-dataset",
                      "name": "example-dataset",
                      "updatedAt": "2020-01-01T00:00:00Z",
                      "who": "John Doe"
                    },
                    {
                      "created": "2020-02-01T00:00:00Z",
                      "description": "This is an example dataset",
                      "id": "example-dataset-2",
                      "name": "example-dataset-2",
                      "updatedAt": "2020-02-01T00:00:00Z",
                      "who": "Foo Bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        },
        "security": [
          {
            "Auth": []
          }
        ],
        "x-axiom-preview": true
      },
      "post": {
        "description": "Creates a dataset. The `name` must be unique in your organization, and `retentionDays` can't exceed the retention window of your plan.",
        "tags": [
          "Datasets"
        ],
        "summary": "Create dataset",
        "operationId": "createDataset",
        "parameters": [
          {
            "description": "Referrer slug",
            "name": "referrer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or reserved `name`, invalid `kind`, `retentionDays` longer than your plan allows, unsupported `edgeDeployment`, or dataset limit reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "description": "A dataset with this name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|create"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/datasets/{dataset_id}": {
      "get": {
        "description": "Retrieves a dataset by its name.",
        "tags": [
          "Datasets"
        ],
        "summary": "Get dataset by ID",
        "operationId": "getDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Exclude resolved label objects from the dataset response. The labelIds field is still returned.",
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "labels"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": []
          }
        ],
        "x-axiom-preview": true
      },
      "put": {
        "description": "Updates the `description` and `retentionDays` of a dataset. Both values are replaced, so omitting `description` clears it, and omitting `retentionDays` or setting it to `0` applies your plan's default retention.",
        "tags": [
          "Datasets"
        ],
        "summary": "Update dataset",
        "operationId": "updateDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ],
        "x-axiom-preview": true
      },
      "delete": {
        "description": "Deletes a dataset and queues the permanent deletion of its data. For a dataset shared with your organization, removes it from your organization only. Returns the ID of the deletion job.",
        "tags": [
          "Datasets"
        ],
        "summary": "Delete dataset",
        "operationId": "deleteDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset deleted and data deletion job created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreateResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|delete"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/datasets/{dataset_id}/trim": {
      "post": {
        "description": "Trim dataset",
        "tags": [
          "datasets"
        ],
        "summary": "Trim dataset by duration",
        "operationId": "trimDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrimOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreateResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "trim|update"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/datasets/{dataset_id}/vacuum": {
      "post": {
        "description": "Queues a job that rebuilds the field schema of a dataset from its stored events, removing fields that no longer occur in any event. Doesn't delete events. You can vacuum each dataset once per hour.",
        "tags": [
          "datasets"
        ],
        "operationId": "vacuumDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vacuum job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "The dataset is a metrics dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "description": "The dataset was vacuumed less than an hour ago. Retry after the time in `Retry-After`.",
            "headers": {
              "Retry-After": {
                "description": "The GMT date/time at which the current rate limit window resets.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "vacuum|update"
            ]
          }
        ]
      }
    },
    "/datasets/{dataset_id}/delete-fields": {
      "post": {
        "description": "Queues the deletion of the listed fields from the dataset schema. Deleted values stay in storage but can't be queried, and ingesting a deleted field again recreates it. You can delete fields once every 5 minutes per dataset.",
        "tags": [
          "datasets"
        ],
        "summary": "Delete fields from a dataset",
        "operationId": "deleteDatasetFields",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteDatasetFieldsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Field deletion queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDatasetFieldsResult"
                }
              }
            }
          },
          "400": {
            "description": "Empty `fields`, a field that isn't in the schema, a system field or map field, a locked schema, or a metrics dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "description": "Fields were deleted from this dataset less than 5 minutes ago. Retry after the time in `Retry-After`.",
            "headers": {
              "Retry-After": {
                "description": "The GMT date/time at which the current rate limit window resets.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "vacuum|update"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/datasets/{dataset_id}/fields": {
      "get": {
        "description": "Lists the fields in the schema of a dataset with their type, unit, description, and hidden setting. Not supported for metrics datasets.",
        "tags": [
          "datasets"
        ],
        "operationId": "getFieldsForDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fields in the dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DatasetField"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The dataset is a metrics dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|read"
            ]
          }
        ]
      }
    },
    "/datasets/{dataset_id}/fields/{field_id}": {
      "get": {
        "description": "Retrieves a field in the schema of a dataset by its name. Not supported for metrics datasets.",
        "tags": [
          "datasets"
        ],
        "operationId": "getFieldForDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetField"
                }
              }
            }
          },
          "400": {
            "description": "The dataset is a metrics dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "The dataset doesn't exist or the field isn't in its schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|read"
            ]
          }
        ]
      },
      "put": {
        "description": "Updates the `unit`, `description`, and `hidden` settings of a field. All three are replaced, so omitted values are cleared. The `name` and `type` in the body are ignored.",
        "tags": [
          "datasets"
        ],
        "operationId": "updateFieldForDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetField"
                }
              }
            }
          },
          "400": {
            "description": "A metrics dataset or a dataset managed by Axiom.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "The dataset doesn't exist or the field isn't in its schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ]
      },
      "delete": {
        "description": "Queues the deletion of a field from the dataset schema. Deleted values stay in storage but can't be queried, and ingesting the field again recreates it. You can delete fields once every 5 minutes per dataset.",
        "tags": [
          "datasets"
        ],
        "summary": "Delete a field from a dataset",
        "operationId": "deleteFieldForDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Field deletion queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDatasetFieldsResult"
                }
              }
            }
          },
          "400": {
            "description": "A system field or map field, a locked schema, or a metrics dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "The dataset doesn't exist or the field isn't in its schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "429": {
            "description": "Fields were deleted from this dataset less than 5 minutes ago. Retry after the time in `Retry-After`.",
            "headers": {
              "Retry-After": {
                "description": "The GMT date/time at which the current rate limit window resets.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "vacuum|update"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/datasets/{dataset_id}/mapfields": {
      "get": {
        "description": "Lists the names of the fields configured as map fields in a dataset.",
        "tags": [
          "datasets"
        ],
        "operationId": "getMapFields",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map field names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapFields"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|read"
            ]
          }
        ],
        "x-axiom-not-suspended": true
      },
      "put": {
        "description": "Replaces the list of map fields in a dataset. Fields you leave out of the list stop being map fields. Not supported for metrics datasets.",
        "tags": [
          "datasets"
        ],
        "operationId": "updateMapFields",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapFields"
              }
            }
          },
          "description": "A list of MapField-names",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Map field names after the update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapFields"
                }
              }
            }
          },
          "400": {
            "description": "Empty, invalid, or duplicate field name, or a metrics dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ],
        "x-axiom-not-suspended": true
      },
      "post": {
        "description": "Configures a field as a map field. Events you ingest afterward store the field's nested keys inside the map, while previously ingested events keep their structure. Not supported for metrics datasets.",
        "tags": [
          "datasets"
        ],
        "operationId": "createMapField",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created map field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapField"
                }
              }
            }
          },
          "400": {
            "description": "Empty or invalid field name, or a metrics dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "description": "The field is already a map field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ],
        "x-axiom-not-suspended": true
      }
    },
    "/datasets/{dataset_id}/mapfields/{map_field_name}": {
      "delete": {
        "description": "Removes a field from the map fields of a dataset. The field itself and its ingested data aren't deleted. Not supported for metrics datasets.",
        "tags": [
          "datasets"
        ],
        "operationId": "deleteMapField",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_field_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Map field removed. No response body."
          },
          "400": {
            "description": "The dataset is a metrics dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "The dataset doesn't exist or the field isn't a map field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ],
        "x-axiom-not-suspended": true
      }
    },
    "/monitors": {
      "get": {
        "description": "Lists monitors in the organization, sorted by name. Only returns monitors that query at least one dataset visible to the caller. Labels are resolved unless `exclude=labels`.",
        "tags": [
          "Monitors"
        ],
        "operationId": "getMonitors",
        "parameters": [
          {
            "description": "Exclude resolved label objects from each monitor response. The labelIds field is still returned.",
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "labels"
              ]
            }
          },
          {
            "description": "Return monitors assigned every specified label ID.",
            "name": "labelIds",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 500,
              "uniqueItems": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitors visible to the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitorWithId"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          }
        },
        "security": [
          {
            "Auth": [
              "monitors|read"
            ]
          }
        ],
        "x-axiom-preview": true
      },
      "post": {
        "description": "Creates a monitor. Axiom runs the monitor's query once before saving it and rejects the request if the query fails, for example because it's invalid or references a dataset that doesn't exist.",
        "tags": [
          "Monitors"
        ],
        "operationId": "createMonitor",
        "requestBody": {
          "$ref": "#/components/requestBodies/Monitor"
        },
        "responses": {
          "200": {
            "description": "Created monitor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorWithId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          }
        },
        "security": [
          {
            "Auth": [
              "monitors|create"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/monitors/{id}": {
      "get": {
        "description": "Retrieves a monitor by ID. Returns `404` if the monitor doesn't exist or the caller can't query its datasets. Labels are resolved unless `exclude=labels`.",
        "tags": [
          "Monitors"
        ],
        "operationId": "getMonitor",
        "parameters": [
          {
            "description": "Monitor ID.",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Exclude resolved label objects from the monitor response. The labelIds field is still returned.",
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "labels"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorWithId"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "monitors|read"
            ]
          }
        ]
      },
      "put": {
        "description": "Replaces a monitor's configuration with the request body, so omitted fields reset to their defaults. Axiom runs the new query once before saving, and the update clears the monitor's current alert state.",
        "tags": [
          "Monitors"
        ],
        "operationId": "updateMonitor",
        "parameters": [
          {
            "description": "Monitor ID.",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Monitor"
        },
        "responses": {
          "200": {
            "description": "Updated monitor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorWithId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "monitors|update"
            ]
          }
        ],
        "x-axiom-preview": true
      },
      "delete": {
        "description": "Permanently deletes a monitor and removes its label assignments. The caller needs query access to the monitor's datasets.",
        "tags": [
          "Monitors"
        ],
        "operationId": "deleteMonitor",
        "parameters": [
          {
            "description": "Monitor ID.",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Monitor deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "monitors|delete"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/monitors/{id}/history": {
      "get": {
        "description": "Lists the notifications sent for the monitor between `startTime` and `endTime`. Each delivery is a separate item: one per notifier, and one per recipient for email notifiers. Failed deliveries are included. State changes that sent no notification, for example while the monitor had no notifiers, aren't listed. The caller needs query access to the monitor's datasets.",
        "tags": [
          "Monitors"
        ],
        "operationId": "getMonitorHistory",
        "parameters": [
          {
            "description": "Monitor ID.",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start of the time range (RFC 3339).",
            "name": "startTime",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "description": "End of the time range (RFC 3339). Must not be before `startTime`.",
            "name": "endTime",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications sent in the time range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlertHistory"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "monitors|read"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/notifiers": {
      "get": {
        "description": "Lists all notifiers in the organization, sorted by name. Labels are resolved unless `exclude=labels`.",
        "tags": [
          "Monitors"
        ],
        "operationId": "getNotifiers",
        "parameters": [
          {
            "description": "Exclude resolved label objects from each notifier response. The labelIds field is still returned.",
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "labels"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notifiers in the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotifierWithId"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "notifiers|read"
            ]
          }
        ],
        "x-axiom-preview": true
      },
      "post": {
        "description": "Creates a notifier. Set exactly one channel under `properties`, such as `slack`, `email`, or `webhook`. Returns `400` if the channel type isn't enabled for your organization.",
        "tags": [
          "Monitors"
        ],
        "operationId": "createNotifier",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Notifier"
              }
            }
          },
          "description": "Notifier configuration details",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created notifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotifierWithId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          }
        },
        "security": [
          {
            "Auth": [
              "notifiers|create"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/notifiers/{id}": {
      "get": {
        "description": "Retrieves a notifier by ID. Labels are resolved unless `exclude=labels`.",
        "tags": [
          "Monitors"
        ],
        "operationId": "getNotifier",
        "parameters": [
          {
            "description": "Notifier ID.",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Exclude resolved label objects from the notifier response. The labelIds field is still returned.",
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "labels"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotifierWithId"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "notifiers|read"
            ]
          }
        ],
        "x-axiom-preview": true
      },
      "put": {
        "description": "Replaces a notifier's name, channel `properties`, and `disabledUntil` with the request body, so omitted fields are cleared. Label assignments are unchanged.",
        "tags": [
          "Monitors"
        ],
        "operationId": "updateNotifier",
        "parameters": [
          {
            "description": "Notifier ID.",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Notifier"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated notifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotifierWithId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "notifiers|update"
            ]
          }
        ],
        "x-axiom-preview": true
      },
      "delete": {
        "description": "Permanently deletes a notifier and removes its label assignments. Returns `400` if any monitor still uses the notifier.",
        "tags": [
          "Monitors"
        ],
        "operationId": "deleteNotifier",
        "parameters": [
          {
            "description": "Notifier ID.",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Notifier deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "notifiers|delete"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/orgs": {
      "get": {
        "description": "Lists the organizations the authenticated user is a member of. Requires a personal access token (PAT). Organizations that enforce SAML sign-in are omitted unless the PAT is SAML-authenticated.\n",
        "tags": [
          "orgs"
        ],
        "operationId": "getOrgs",
        "responses": {
          "200": {
            "description": "Organizations the user is a member of.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Org"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": []
          }
        ],
        "x-axiom-no-org-required": true
      },
      "post": {
        "description": "Creates an organization on the Personal plan with the authenticated user as its owner. Requires a personal access token (PAT).\n",
        "tags": [
          "orgs"
        ],
        "operationId": "createOrg",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrg"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Org"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name or edge deployment, or the user has reached the maximum number of organizations.\n"
          }
        },
        "security": [
          {
            "Auth": []
          }
        ],
        "x-axiom-no-org-required": true
      }
    },
    "/orgs/{id}": {
      "get": {
        "description": "Retrieves an organization the authenticated user is a member of, including its plan and license limits. Requires a personal access token (PAT).\n",
        "tags": [
          "orgs"
        ],
        "operationId": "getOrg",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Org"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found, or the user isn't a member of it."
          }
        },
        "security": [
          {
            "Auth": []
          }
        ]
      },
      "put": {
        "description": "Renames an organization and returns the updated organization. Requires a personal access token (PAT) of an owner of the organization.\n",
        "tags": [
          "orgs"
        ],
        "operationId": "updateOrg",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrg"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Org"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name."
          },
          "403": {
            "description": "The user isn't an owner of the organization."
          }
        },
        "security": [
          {
            "Auth": []
          }
        ]
      }
    },
    "/orgs/provision": {
      "post": {
        "description": "Creates a temporary organization for an automated agent and returns a full-permission API token and a claim URL. The organization is deleted after 24 hours unless a human claims it. Doesn't require authentication and is rate limited per client IP.\n",
        "tags": [
          "orgs"
        ],
        "summary": "Provision a temporary organization for an agent",
        "operationId": "provisionOrg",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisionOrg"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Provisioned organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisionOrgResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name or edge deployment."
          },
          "429": {
            "description": "Rate limit exceeded, either for the client IP or for all callers. Retry later with backoff.\n"
          }
        },
        "security": []
      }
    },
    "/rbac/roles": {
      "get": {
        "description": "Lists the custom roles in the organization with their capabilities and the IDs of users assigned each role directly. Built-in roles such as `axiom-admin` aren't included.",
        "tags": [
          "rbac"
        ],
        "summary": "List all roles",
        "operationId": "listRoles",
        "responses": {
          "200": {
            "description": "Custom roles in the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleWithID"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|read"
            ]
          }
        ]
      },
      "post": {
        "description": "Creates a custom role. Requires an Enterprise plan or the RBAC add-on. The name must be unique and can't start with `axiom-`. The `members` field is ignored; assign users with the Update user role endpoint.",
        "tags": [
          "rbac"
        ],
        "summary": "Create role",
        "operationId": "createRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          },
          "description": "The role's name, description, and capabilities",
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleWithID"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ]
      }
    },
    "/rbac/roles/{id}": {
      "get": {
        "description": "Retrieves a custom role by ID with its capabilities and the IDs of users assigned the role directly. Built-in role IDs such as `axiom-admin` return `404`.",
        "tags": [
          "rbac"
        ],
        "summary": "Get role by ID",
        "operationId": "getRoleById",
        "parameters": [
          {
            "description": "Unique identifier of the role to retrieve",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleWithID"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|read"
            ]
          }
        ]
      },
      "put": {
        "description": "Replaces a custom role's name, description, and capabilities. Capabilities you omit are removed, and the `members` field is ignored. Requires an Enterprise plan or the RBAC add-on.",
        "tags": [
          "rbac"
        ],
        "summary": "Update role",
        "operationId": "updateRole",
        "parameters": [
          {
            "description": "Unique identifier of the role to update",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          },
          "description": "The role's new name, description, and capabilities",
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleWithID"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ]
      },
      "delete": {
        "description": "Permanently deletes a custom role. Users assigned the role get the `none` role, and the role is removed from all groups. Requires an Enterprise plan or the RBAC add-on.",
        "tags": [
          "rbac"
        ],
        "summary": "Delete role",
        "operationId": "deleteRole",
        "parameters": [
          {
            "description": "Unique identifier of the role to delete",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The role was deleted."
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ]
      }
    },
    "/rbac/groups": {
      "get": {
        "description": "Lists all groups in the organization with the role IDs and user IDs assigned to each group.",
        "tags": [
          "rbac"
        ],
        "summary": "List all groups",
        "operationId": "listGroups",
        "responses": {
          "200": {
            "description": "Groups in the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupWithID"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|read"
            ]
          }
        ]
      },
      "post": {
        "description": "Creates a group whose members get the group's roles. Requires an Enterprise plan or the RBAC add-on. The name must be unique, every role ID must exist, and you can't add yourself as a member.",
        "tags": [
          "rbac"
        ],
        "summary": "Create group",
        "operationId": "createGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          },
          "description": "The group's name, description, roles, and members",
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupWithID"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ]
      }
    },
    "/rbac/groups/{id}": {
      "get": {
        "description": "Retrieves a group by ID with its role IDs, member user IDs, and whether it's managed by your identity provider (`isManaged`).",
        "tags": [
          "rbac"
        ],
        "summary": "Get group by ID",
        "operationId": "getGroupById",
        "parameters": [
          {
            "description": "Unique identifier of the group to retrieve",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupWithID"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|read"
            ]
          }
        ]
      },
      "put": {
        "description": "Replaces a group's name, description, roles, and members. Fields you omit are cleared, and members of managed groups aren't changed. Requires an Enterprise plan or the RBAC add-on.",
        "tags": [
          "rbac"
        ],
        "summary": "Update group",
        "operationId": "updateGroup",
        "parameters": [
          {
            "description": "Unique identifier of the group to update",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          },
          "description": "The group's new name, description, roles, and members",
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupWithID"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ]
      },
      "delete": {
        "description": "Permanently deletes a group. Members lose the roles the group granted but keep their own role, and dashboards the group owned are shared with everyone. Managed groups can't be deleted. Requires an Enterprise plan or the RBAC add-on.",
        "tags": [
          "rbac"
        ],
        "summary": "Delete group",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "description": "Unique identifier of the group to delete",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The group was deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ]
      }
    },
    "/apl-starred-queries": {
      "get": {
        "description": "Lists saved APL queries on datasets you can read, sorted by name. Use `who` to choose whose queries to return, and `limit` and `offset` to paginate.",
        "tags": [
          "starred"
        ],
        "operationId": "getStarredQueries",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "description": "Return only queries saved on this dataset.",
            "name": "dataset",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- If the value of `who` is your own user ID, the request returns queries saved by the authenticated user.\n- If the value of `who` is `team`, the request returns queries saved by other users in the organization. For example, `&who=team`.\n- If the value of `who` is `all`, the request returns queries saved by all users in the organization, including the authenticated user. For example, `&who=all`.\n- Any other value returns `400`. This includes another user's ID, and omitting `who` when you authenticate with a personal access token.",
            "name": "who",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return only queries whose name contains this string. Case-insensitive.",
            "name": "qs",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved queries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StarredQueryWithId"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid `who`."
          },
          "404": {
            "description": "You can't read the dataset in `dataset`."
          }
        },
        "security": [
          {
            "Auth": [
              "starredQueries|read"
            ]
          }
        ]
      },
      "post": {
        "description": "Saves an APL query for the authenticated user. Axiom sets `who` to the caller and `kind` to `apl`. If you omit `dataset`, Axiom uses the alphabetically first dataset that `query.apl` references.",
        "tags": [
          "starred"
        ],
        "operationId": "createStarred",
        "requestBody": {
          "$ref": "#/components/requestBodies/StarredQuery"
        },
        "responses": {
          "200": {
            "description": "Created saved query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarredQueryWithId"
                }
              }
            }
          },
          "400": {
            "description": "Missing `name`, or no `dataset` given and none found in `query.apl`."
          },
          "403": {
            "description": "You don't have permission to create saved queries on the dataset."
          }
        },
        "security": [
          {
            "Auth": [
              "starredQueries|create"
            ]
          }
        ]
      }
    },
    "/apl-starred-queries/{id}": {
      "get": {
        "description": "Retrieves a saved query by its ID.",
        "tags": [
          "starred"
        ],
        "operationId": "getStarred",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarredQueryWithId"
                }
              }
            }
          },
          "404": {
            "description": "Saved query not found, or you can't read its dataset."
          }
        },
        "security": [
          {
            "Auth": [
              "starredQueries|read"
            ]
          }
        ]
      },
      "put": {
        "description": "Replaces the `name`, `dataset`, `query`, and `metadata` of a saved query. With a personal access token, you can only update queries you saved.",
        "tags": [
          "starred"
        ],
        "operationId": "updateStarred",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/StarredQuery"
        },
        "responses": {
          "200": {
            "description": "Updated saved query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarredQueryWithId"
                }
              }
            }
          },
          "400": {
            "description": "Missing `name`, or no `dataset` given and none found in `query.apl`."
          },
          "401": {
            "description": "The saved query belongs to another user."
          },
          "403": {
            "description": "You don't have permission to update saved queries on the current or new dataset."
          },
          "404": {
            "description": "Saved query not found."
          }
        },
        "security": [
          {
            "Auth": [
              "starredQueries|update"
            ]
          }
        ]
      },
      "delete": {
        "description": "Deletes a saved query by its ID. With a personal access token, you can only delete queries you saved.",
        "tags": [
          "starred"
        ],
        "operationId": "deleteStarred",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Saved query deleted."
          },
          "401": {
            "description": "The saved query belongs to another user."
          },
          "403": {
            "description": "You don't have permission to delete saved queries on the query's dataset."
          },
          "404": {
            "description": "Saved query not found."
          }
        },
        "security": [
          {
            "Auth": [
              "starredQueries|delete"
            ]
          }
        ]
      }
    },
    "/tokens": {
      "get": {
        "description": "Lists the organization's active API tokens. Expired tokens, personal access tokens, and token secret values aren't included.\n",
        "tags": [
          "tokens"
        ],
        "operationId": "getAPITokens",
        "responses": {
          "200": {
            "description": "Active API tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIToken"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "apiTokens|read"
            ]
          }
        ]
      },
      "post": {
        "description": "Creates an API token and returns its secret `token` value, which you can't retrieve again. You can only grant capabilities you have yourself. If you omit `expiresAt`, the token doesn't expire.\n",
        "tags": [
          "tokens"
        ],
        "operationId": "createAPIToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIToken"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created API token, including its secret `token` value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAPITokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "No capability set, an invalid capability, or a capability the caller doesn't have.\n"
          }
        },
        "security": [
          {
            "Auth": [
              "apiTokens|create"
            ]
          }
        ],
        "x-axiom-not-suspended": true
      }
    },
    "/tokens/{id}": {
      "get": {
        "description": "Retrieves an active API token by ID. The response doesn't include the token's secret value.\n",
        "tags": [
          "tokens"
        ],
        "operationId": "getAPIToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIToken"
                }
              }
            }
          },
          "404": {
            "description": "API token not found or expired."
          }
        },
        "security": [
          {
            "Auth": [
              "apiTokens|read"
            ]
          }
        ]
      },
      "delete": {
        "description": "Permanently deletes an API token so it can no longer authenticate requests.\n",
        "tags": [
          "tokens"
        ],
        "operationId": "deleteAPIToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "API token deleted."
          },
          "404": {
            "description": "API token not found or expired."
          }
        },
        "security": [
          {
            "Auth": [
              "apiTokens|delete"
            ]
          }
        ]
      }
    },
    "/tokens/{id}/regenerate": {
      "post": {
        "description": "Creates a new API token with the existing token's capabilities, or with those in `newToken`, and returns its secret value. The existing token keeps working until `existingTokenExpiresAt`; set it to the current time to revoke it immediately.\n",
        "tags": [
          "tokens"
        ],
        "operationId": "regenerateAPIToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateAPIToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New API token, including its secret `token` value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAPITokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing `existingTokenExpiresAt`, expiry set in both `newTokenExpiresAt` and `newToken.expiresAt`, or invalid capabilities in `newToken`.\n"
          },
          "404": {
            "description": "API token not found or expired."
          }
        },
        "security": [
          {
            "Auth": [
              "apiTokens|update"
            ]
          }
        ],
        "x-axiom-not-suspended": true
      }
    },
    "/user": {
      "get": {
        "description": "Retrieves the user who owns the personal access token (PAT) used to authenticate. API tokens aren't supported. The response includes `role` only when the `X-AXIOM-ORG-ID` header is set.\n",
        "tags": [
          "Users"
        ],
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Current user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "403": {
            "description": "The request was authenticated with an API token, or the user isn't a member of the organization in `X-AXIOM-ORG-ID`.\n"
          }
        },
        "security": [
          {
            "Auth": []
          }
        ],
        "x-axiom-no-org-required": true,
        "x-axiom-preview": true
      },
      "put": {
        "description": "Updates the name of the user who owns the personal access token (PAT) used to authenticate. API tokens aren't supported. The response doesn't include `role`.\n",
        "tags": [
          "Users"
        ],
        "operationId": "updateCurrentUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCurrentUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name, or the request was authenticated with an API token."
          }
        },
        "security": [
          {
            "Auth": []
          }
        ],
        "x-axiom-no-org-required": true,
        "x-axiom-preview": true
      }
    },
    "/users": {
      "get": {
        "description": "Lists all members of the organization, including each member's role.\n",
        "tags": [
          "Users"
        ],
        "operationId": "getUsers",
        "responses": {
          "200": {
            "description": "Organization members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "users|read"
            ]
          }
        ],
        "x-axiom-preview": true
      },
      "post": {
        "description": "Adds a user to the organization with the given role and sends them an invite email. If the email address already belongs to an Axiom account, Axiom keeps its existing name. API tokens can't assign the `owner` role.\n",
        "tags": [
          "Users"
        ],
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Added user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email address, the user is already a member, or the organization has reached its user limit.\n"
          },
          "403": {
            "description": "Insufficient permissions, or the caller isn't allowed to assign the `owner` role.\n"
          },
          "404": {
            "description": "Role not found."
          }
        },
        "security": [
          {
            "Auth": [
              "users|create"
            ]
          }
        ],
        "x-axiom-no-org-required": true,
        "x-axiom-not-suspended": true,
        "x-axiom-preview": true
      }
    },
    "/users/{id}": {
      "get": {
        "description": "Retrieves a member of the organization by user ID, including their role.\n",
        "tags": [
          "Users"
        ],
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "User not found."
          }
        },
        "security": [
          {
            "Auth": [
              "users|read"
            ]
          }
        ],
        "x-axiom-preview": true
      },
      "delete": {
        "description": "Removes a user from the organization without deleting their Axiom account. You can't remove the organization's last member. With a personal access token (PAT), only owners can remove an owner.\n",
        "tags": [
          "Users"
        ],
        "operationId": "removeUserFromOrg",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User removed from the organization."
          }
        },
        "security": [
          {
            "Auth": [
              "users|delete"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/users/{id}/role": {
      "put": {
        "description": "Changes the role of a member of the organization and returns the updated user. You can't change your own role. Only owners using a personal access token (PAT) can assign `owner` or change an owner's role.\n",
        "tags": [
          "Users"
        ],
        "operationId": "updateUserRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions, you tried to change your own role, or the caller isn't allowed to assign or change the `owner` role.\n"
          },
          "404": {
            "description": "User or role not found."
          }
        },
        "security": [
          {
            "Auth": [
              "users|update"
            ]
          }
        ],
        "x-axiom-preview": true
      }
    },
    "/vfields": {
      "get": {
        "description": "Lists the virtual fields of a dataset, ordered by creation time.",
        "tags": [
          "vfields"
        ],
        "operationId": "getVirtualFields",
        "parameters": [
          {
            "description": "Name of the dataset",
            "name": "dataset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Virtual fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VirtualFieldWithId"
                  }
                }
              }
            }
          },
          "404": {
            "description": "You can't read the dataset."
          }
        },
        "security": [
          {
            "Auth": [
              "virtualFields|read"
            ]
          }
        ]
      },
      "post": {
        "description": "Creates a virtual field on a dataset. Axiom sets its ID to `<dataset>.<name>`, so the name must be unique within the dataset. `expression` must be a valid APL expression.",
        "tags": [
          "vfields"
        ],
        "operationId": "createVirtualField",
        "requestBody": {
          "$ref": "#/components/requestBodies/VirtualField"
        },
        "responses": {
          "200": {
            "description": "Created virtual field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualFieldWithId"
                }
              }
            }
          },
          "400": {
            "description": "Missing `dataset`, `name`, or `expression`, an invalid `name`, or an expression that doesn't parse."
          },
          "403": {
            "description": "You don't have permission to create virtual fields on the dataset."
          },
          "404": {
            "description": "You can't read the dataset."
          },
          "409": {
            "description": "A virtual field with this name already exists on the dataset."
          }
        },
        "security": [
          {
            "Auth": [
              "virtualFields|create"
            ]
          }
        ]
      }
    },
    "/vfields/{id}": {
      "get": {
        "description": "Retrieves a virtual field by its ID.",
        "tags": [
          "vfields"
        ],
        "operationId": "getVirtualField",
        "parameters": [
          {
            "description": "ID of the virtual field in the form `<dataset>.<name>`",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Virtual field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualFieldWithId"
                }
              }
            }
          },
          "404": {
            "description": "Virtual field not found, or you can't read its dataset."
          }
        },
        "security": [
          {
            "Auth": [
              "virtualFields|read"
            ]
          }
        ]
      },
      "put": {
        "description": "Replaces all fields of a virtual field. Omitted optional fields are cleared. The ID doesn't change, even if you change `name` or `dataset`.",
        "tags": [
          "vfields"
        ],
        "operationId": "updateVirtualField",
        "parameters": [
          {
            "description": "ID of the virtual field in the form `<dataset>.<name>`",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/VirtualField"
        },
        "responses": {
          "200": {
            "description": "Updated virtual field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualFieldWithId"
                }
              }
            }
          },
          "400": {
            "description": "Missing `dataset`, `name`, or `expression`, an invalid `name`, or an expression that doesn't parse."
          },
          "403": {
            "description": "You don't have permission to update virtual fields on the current or new dataset."
          },
          "404": {
            "description": "Virtual field not found."
          }
        },
        "security": [
          {
            "Auth": [
              "virtualFields|update"
            ]
          }
        ]
      },
      "delete": {
        "description": "Deletes a virtual field by its ID.",
        "tags": [
          "vfields"
        ],
        "operationId": "deleteVirtualField",
        "parameters": [
          {
            "description": "ID of the virtual field in the form `<dataset>.<name>`",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Virtual field deleted."
          },
          "403": {
            "description": "You don't have permission to delete virtual fields on the dataset."
          },
          "404": {
            "description": "Virtual field not found, or you can't read its dataset."
          }
        },
        "security": [
          {
            "Auth": [
              "virtualFields|delete"
            ]
          }
        ]
      }
    },
    "/views": {
      "get": {
        "description": "Lists the views in the organization, including views shared with it by other organizations.",
        "tags": [
          "views"
        ],
        "operationId": "getViews",
        "responses": {
          "200": {
            "description": "Views.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/View"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Auth": [
              "views|read"
            ]
          }
        ]
      },
      "post": {
        "description": "Creates a view, a named APL query that you can query like a dataset. Axiom derives `datasets` from `aplQuery`. The name can't match an existing dataset or view, and the query can't reference views or use wildcards.",
        "tags": [
          "views"
        ],
        "operationId": "createView",
        "requestBody": {
          "$ref": "#/components/requestBodies/View"
        },
        "responses": {
          "200": {
            "description": "Created view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          },
          "400": {
            "description": "Invalid view, for example an APL parse error, a name that's already in use, or a query that references a view or datasets in different regions."
          },
          "403": {
            "description": "You don't have query access to a dataset that `aplQuery` references."
          }
        },
        "security": [
          {
            "Auth": [
              "views|create"
            ]
          }
        ]
      }
    },
    "/views/{id}": {
      "get": {
        "description": "Retrieves a view by its name.",
        "tags": [
          "views"
        ],
        "operationId": "getView",
        "parameters": [
          {
            "description": "Name of the view",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "View.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          },
          "403": {
            "description": "You don't have query access to the view's dataset."
          },
          "404": {
            "description": "View not found."
          }
        },
        "security": [
          {
            "Auth": [
              "views|read"
            ]
          }
        ]
      },
      "put": {
        "description": "Replaces the `aplQuery` and `description` of a view, identified by its name. Axiom ignores `name` and `datasets` in the body and derives `datasets` from the new query.",
        "tags": [
          "views"
        ],
        "operationId": "updateView",
        "parameters": [
          {
            "description": "Name of the view",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/View"
        },
        "responses": {
          "200": {
            "description": "Updated view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          },
          "403": {
            "description": "You don't have query access to the view's current or new datasets."
          },
          "404": {
            "description": "View not found."
          }
        },
        "security": [
          {
            "Auth": [
              "views|update"
            ]
          }
        ]
      },
      "delete": {
        "description": "Deletes a view by its name.",
        "tags": [
          "views"
        ],
        "operationId": "deleteView",
        "parameters": [
          {
            "description": "Name of the view",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "View deleted."
          },
          "403": {
            "description": "You don't have query access to the view's dataset."
          },
          "404": {
            "description": "View not found."
          }
        },
        "security": [
[...]
