.inline-icon {
    display: inline;
    max-height: 1.3em;
    margin: 0 0.2em;
    background-color: #FCFCFC;
    padding: 0.1em;
    border-radius: 0.2em
}

/* Add bottom border to links in light mode. Excluding elements with `aria-label="Navigate to header"` is necessary for not adding bottom border to anchors to the left of headings. */
.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *,[aria-label="Navigate to header"])) {
  border-bottom: 1px solid black;
}

.prose :where(a:is(.dark *)):not(:where([class~=not-prose],[class~=not-prose] *,[aria-label="Navigate to header"])) {
  border-bottom: 1px solid white;
}

.prose :where(a:hover):not(:where([class~=not-prose],[class~=not-prose] *,[aria-label="Navigate to header"])) {
  border-bottom-width: 2px;
}

/* If two ul elements follow each other, remove margin between them. */
.prose :where(ul+ul):not(:where([class~=not-prose] *)) {
    margin-top: 0;
}

.prose ul:has(+ ul):not(:where([class~=not-prose] *)) {
    margin-bottom: 0;
}